
singularity {
    enabled = true
    cacheDir = "${params.Containers_Cache_Dir}"
}

process {
 withName: bwa_map_sort 
    {
        errorStrategy='retry'
        maxRetries=1
		executor='slurm'
		//module = 'bwa/0.7.15:sambamba/0.6.6'   
		clusterOptions = "--no-requeue --account=chamala --qos=chamala --time=120:15:00 --mem-per-cpu=3gb --cpus-per-task=8  --ntasks=1 --nodes=1"
        //container = "${param.SINGULARITY_IMAGE_FILE}"
        //container = '/ufrc/chamala/share/GatorSeq_Share/DevEnv/gatorseq_hpc_code/singularity/bwa.sif' 
        //singularity.enabled = true
        //singularity.cacheDir = "/ufrc/chamala/share/GatorSeq_Share/DevEnv/gatorseq_hpc_code/singularity"
        //container = "${params.Containers_Cache_Dir}/harsh0280-bwa-1.0.img"
        //container = 'docker://harsh0280/bwa:2.0'
        //container = 'docker://srikarchamala/bwa_sambamba:1.0'
        container = "${params.DOCKER_BWA_SAMBAMBA}" 
   }

 withName: merging
    {
        errorStrategy='retry'
        maxRetries=1
        executor='slurm'
        //module = 'sambamba/0.6.3'
        clusterOptions = "--no-requeue --account=chamala --qos=chamala --time=120:15:00 --mem-per-cpu=3gb --cpus-per-task=8  --ntasks=1 --nodes=1"
        //container = '/ufrc/chamala/share/GatorSeq_Share/DevEnv/gatorseq_hpc_code/singularity/bio.sif' 
        //container = "${params.Containers_Cache_Dir}/harsh0280-bwa-1.0.img"
        //singularity.cacheDir = "/ufrc/chamala/share/GatorSeq_Share/DevEnv/gatorseq_hpc_code/singularity"
        //container = 'docker://srikarchamala/bwa_sambamba:1.0'
        container = "${params.DOCKER_BWA_SAMBAMBA}" 

   }

 withName: vardict
    {
        errorStrategy='retry'
        maxRetries=0
        executor='slurm'
        //module ='gcc/5.2.0:vardictjava/20160521:perl/5.20.0:R/3.0.2:vcftools/0.1.14:vt/20160129'
        //module ='gcc/5.2.0:vardictjava/1.6.0:perl/5.20.0:R/3.0.2:vcftools/0.1.14:vt/20160129'
        clusterOptions = "--no-requeue --account=chamala --qos=chamala --time=120:15:00 --mem-per-cpu=3gb --cpus-per-task=8  --ntasks=1 --nodes=1"
        //container = '/ufrc/chamala/share/GatorSeq_Share/DevEnv/gatorseq_hpc_code/singularity/vardict_03.sif' 
        //container = "${params.Containers_Cache_Dir}/harsh0280-vardict-1.0.img"
        //container = 'docker://harsh0280/vardict:2.0'
        //container = 'docker://srikarchamala/vardictjava:1.3'
        container = "${params.DOCKER_VARDICTJAVA}" 

   }

 withName: vepAnnot
    {
        errorStrategy='retry'
        maxRetries=1
        executor='slurm'
        //module ='gcc/5.2.0:varnorm/0.21:transvar/2.3.3:vep/88.8'
        //clusterOptions = "--no-requeue --account=chamala --qos=chamala --time=120:15:00 --mem-per-cpu=3gb --cpus-per-task=8  --ntasks=1 --nodes=1"
        clusterOptions = "--no-requeue --account=chamala --qos=chamala --time=120:15:00 --mem-per-cpu=3gb --cpus-per-task=1  --ntasks=1 --nodes=1"
        //container = '/ufrc/chamala/share/GatorSeq_Share/DevEnv/gatorseq_hpc_code/singularity/bio.sif' 
        //container = "${params.Containers_Cache_Dir}/harsh0280-vep-1.0.img"
        container = 'docker://harsh0280/vep:1.0'

   }

 withName: iCallSV
    {
        errorStrategy='retry'
        maxRetries=1
        executor='slurm'
        //module ='gcc/5.2.0:icallsv/0.0.6:delly/0.7.5:R/3.2.2'
        clusterOptions = "--no-requeue --account=chamala --qos=chamala --time=120:15:00 --mem-per-cpu=3gb --cpus-per-task=8  --ntasks=1 --nodes=1"
        container = "${params.DOCKER_ICALLSV}" 

   }
   
  withName: generate_metrics_file
    {
        errorStrategy='retry'
        maxRetries=1
        executor='slurm'
        //module = 'bamutil/1.0.2:datamash/1.1.0:sambamba/0.6.3:gcc/5.2.0:bedtools/2.26.0:bamtools/2.1.1:rtgtools/3.7.1'
        clusterOptions = "--no-requeue --account=chamala --qos=chamala --time=120:15:00 --mem-per-cpu=3gb --cpus-per-task=8  --ntasks=1 --nodes=1"
        //container = '/ufrc/chamala/share/GatorSeq_Share/DevEnv/gatorseq_hpc_code/singularity/generatematrix_1.sif' 
        //container = "${params.Containers_Cache_Dir}/harsh0280-generatematrix-1.0.img"
        //container = 'docker://harsh0280/generatematrix:2.0'
        container = "${params.DOCKER_GENERATEMETRICS}" 

   }
   
   withName: merge_log_benchmark_files
    {
        errorStrategy='retry'
        maxRetries=1
        executor='slurm'
        //module = 'bamutil/1.0.2:datamash/1.1.0:sambamba/0.6.3:gcc/5.2.0:bedtools/2.26.0:bamtools/2.1.1:rtgtools/3.7.1'
        clusterOptions = "--no-requeue --account=chamala --qos=chamala --time=120:15:00 --mem-per-cpu=3gb --cpus-per-task=8  --ntasks=1 --nodes=1"
        //container = '/ufrc/chamala/share/GatorSeq_Share/DevEnv/gatorseq_hpc_code/singularity/bio.sif' 
        //container = 'docker://harsh0280/generatematrix:2.0'
        container = "${params.DOCKER_GENERATEMETRICS}" 

   }
}

