
process {
 $bwa_map_sort 
    {
		executor='slurm'
		module = 'bwa/0.7.15:sambamba/0.6.6'   
		clusterOptions = "--account=chamala --qos=chamala --time=120:15:00 --mem-per-cpu=3gb --cpus-per-task=8  --ntasks=1 --nodes=1"
 
   }
 $merging
    {
        executor='slurm'
        module = 'sambamba/0.6.3'
        clusterOptions = "--account=chamala --qos=chamala --time=120:15:00 --mem-per-cpu=3gb --cpus-per-task=8  --ntasks=1 --nodes=1"

   }

 $vardict
    {
        executor='slurm'
        module ='gcc/5.2.0:vardictjava/20170531:perl/5.20.0:R/3.0.2:vcftools/0.1.14:vt/20160129:varnorm/0.21:transvar/2.3.3:vep/88.8'
        clusterOptions = "--account=chamala --qos=chamala --time=120:15:00 --mem-per-cpu=3gb --cpus-per-task=8  --ntasks=1 --nodes=1"

   }
   
  $generate_metrics_file
    {
        executor='slurm'
        module = 'bamutil/1.0.2:datamash/1.1.0:sambamba/0.6.3:gcc/5.2.0:bedtools/2.26.0:bamtools/2.1.1:rtgtools/3.7.1'
        clusterOptions = "--account=chamala --qos=chamala --time=120:15:00 --mem-per-cpu=3gb --cpus-per-task=8  --ntasks=1 --nodes=1"

   }
   
     $merge_log_benchmark_files
    {
        executor='slurm'
        module = 'bamutil/1.0.2:datamash/1.1.0:sambamba/0.6.3:gcc/5.2.0:bedtools/2.26.0:bamtools/2.1.1:rtgtools/3.7.1'
        clusterOptions = "--account=chamala --qos=chamala --time=120:15:00 --mem-per-cpu=3gb --cpus-per-task=8  --ntasks=1 --nodes=1"

   }
}

