
singularity {
    enabled = true
    cacheDir = "${params.Containers_Cache_Dir}"
}

//docker {
 
 //   enabled = true
    //cacheDir = "${params.Containers_Cache_Dir}"
//}

//aws {
 //   region = 'us-east-1'

//    batch {
     //   cliPath = '/home/ec2-user/miniconda/bin/aws'
 //         volumes = ['/tmp']
  //  }
//}

process {
 withName: bwa_map_sort 
    {
        //errorStrategy='retry'
        //maxRetries=1
		executor='local'
        cpus = 8
        memory = 16.GB
        container = "${params.DOCKER_BWA_SAMBAMBA}" 
        //containerOptions = '--bind /home/path-svc-mol/GatorSeq_Share:/usr/local/share/COMMON/CLINICAL_SHARE/GatorSeq:/ext/path/DRL/Molecular/NGS/NextSeq_Fastq'
        containerOptions = '--bind /home/path-svc-mol/GatorSeq_Share:/usr/local/share/COMMON/CLINICAL_SHARE/GatorSeq'
   }

 withName: merging
    {
        //errorStrategy='retry'
        //maxRetries=1
		executor='local'
        cpus = 8
        memory = 16.GB
        container = "${params.DOCKER_BWA_SAMBAMBA}" 
        //containerOptions = '--bind /home/path-svc-mol/GatorSeq_Share:/usr/local/share/COMMON/CLINICAL_SHARE/GatorSeq:/ext/path/DRL/Molecular/NGS/NextSeq_Fastq'
        containerOptions = '--bind /home/path-svc-mol/GatorSeq_Share:/usr/local/share/COMMON/CLINICAL_SHARE/GatorSeq'

   }

 withName: vardict
    {
        //errorStrategy='retry'
        //maxRetries=0
		executor='local'
        cpus = 8
        memory = 16.GB
        container = "${params.DOCKER_VARDICTJAVA}" 
        //containerOptions = '--bind /home/path-svc-mol/GatorSeq_Share:/usr/local/share/COMMON/CLINICAL_SHARE/GatorSeq:/ext/path/DRL/Molecular/NGS/NextSeq_Fastq'
        containerOptions = '--bind /home/path-svc-mol/GatorSeq_Share:/usr/local/share/COMMON/CLINICAL_SHARE/GatorSeq'

   }

 withName: vepAnnot
    {
        //errorStrategy='retry'
        //maxRetries=1
		executor='local'
        cpus = 8
        memory = 16.GB
        container = 'docker://harsh0280/vep:1.0'
        //containerOptions = '--bind /home/path-svc-mol/GatorSeq_Share:/usr/local/share/COMMON/CLINICAL_SHARE/GatorSeq:/ext/path/DRL/Molecular/NGS/NextSeq_Fastq'
        containerOptions = '--bind /home/path-svc-mol/GatorSeq_Share:/usr/local/share/COMMON/CLINICAL_SHARE/GatorSeq'

   }

 withName: iCallSV
    {
        //errorStrategy='retry'
        //maxRetries=1
		executor='local'
        cpus = 8
        memory = 16.GB
        container = "${params.DOCKER_ICALLSV}" 
        //containerOptions = '--bind /home/path-svc-mol/GatorSeq_Share:/usr/local/share/COMMON/CLINICAL_SHARE/GatorSeq:/ext/path/DRL/Molecular/NGS/NextSeq_Fastq'
        containerOptions = '--bind /home/path-svc-mol/GatorSeq_Share:/usr/local/share/COMMON/CLINICAL_SHARE/GatorSeq'

   }
   
 withName: mSINGS 
    {
        //errorStrategy='retry'
        //maxRetries=1
		executor='local'
        cpus = 8
        memory = 16.GB
        container = "${params.DOCKER_MSINGS}"
        //containerOptions = '--bind /home/path-svc-mol/GatorSeq_Share:/usr/local/share/COMMON/CLINICAL_SHARE/GatorSeq:/ext/path/DRL/Molecular/NGS/NextSeq_Fastq'
        containerOptions = '--bind /home/path-svc-mol/GatorSeq_Share:/usr/local/share/COMMON/CLINICAL_SHARE/GatorSeq'

   }
   
  withName: generate_metrics_file
    {
        //errorStrategy='retry'
        //maxRetries=1
		executor='local'
        cpus = 8
        memory = 16.GB
        container = "${params.DOCKER_GENERATEMETRICS}" 
        //containerOptions = '--bind /home/path-svc-mol/GatorSeq_Share:/usr/local/share/COMMON/CLINICAL_SHARE/GatorSeq:/ext/path/DRL/Molecular/NGS/NextSeq_Fastq'
        containerOptions = '--bind /home/path-svc-mol/GatorSeq_Share:/usr/local/share/COMMON/CLINICAL_SHARE/GatorSeq'

   }
   
   withName: merge_log_benchmark_files
    {
        //errorStrategy='retry'
        //maxRetries=1
		executor='local'
        cpus = 8
        memory = 16.GB
        container = "${params.DOCKER_GENERATEMETRICS}" 
        //containerOptions = '--bind /home/path-svc-mol/GatorSeq_Share:/usr/local/share/COMMON/CLINICAL_SHARE/GatorSeq:/ext/path/DRL/Molecular/NGS/NextSeq_Fastq'
        containerOptions = '--bind /home/path-svc-mol/GatorSeq_Share:/usr/local/share/COMMON/CLINICAL_SHARE/GatorSeq'

   }
}

