
//singularity {
//    enabled = true
//    cacheDir = "${params.Containers_Cache_Dir}"
//}

docker {
 
    enabled = true
    //cacheDir = "${params.Containers_Cache_Dir}"
}

aws {
    region = 'us-east-1'

    batch {
          cliPath = '/usr/local/aws-cli/v2/current/bin/aws'
          volumes = ['/tmp']
    }
}

process {
 withName: bwa_map_sort 
    {
        //errorStrategy='retry'
        //maxRetries=1
		executor='awsbatch'
        queue = 'gatorSequence'
        cpus = 8
        memory = 15.GB
        container = "${params.DOCKER_BWA_SAMBAMBA}" 
   }

 withName: merging
    {
        //errorStrategy='retry'
        //maxRetries=1
		executor='awsbatch'
        queue = 'gatorSequence'
        cpus = 8
        memory = 15.GB
        container = "${params.DOCKER_BWA_SAMBAMBA}" 

   }

 withName: vardict
    {
        //errorStrategy='retry'
        //maxRetries=0
		executor='awsbatch'
        queue = 'gatorSequence'
        cpus = 8
        memory = 15.GB
        container = "${params.DOCKER_VARDICTJAVA}" 

   }

 withName: vepAnnot
    {
        //errorStrategy='retry'
        //maxRetries=1
		executor='awsbatch'
        queue = 'gatorSequence'
        cpus = 8
        memory = 15.GB
        container = "${params.DOCKER_VEPANNOT}"

   }

 withName: iCallSV
    {
        //errorStrategy='retry'
        //maxRetries=1
		executor='awsbatch'
        queue = 'gatorSequence'
        cpus = 8
        memory = 15.GB
        container = "${params.DOCKER_ICALLSV}" 

   }
   
 withName: mSINGS 
    {
        //errorStrategy='retry'
        //maxRetries=1
		executor='awsbatch'
        queue = 'gatorSequence'
        cpus = 8
        memory = 15.GB
        container = "${params.DOCKER_MSINGS}"

   }
   
  withName: generate_metrics_file
    {
        //errorStrategy='retry'
        //maxRetries=1
		executor='awsbatch'
        queue = 'gatorSequence'
        cpus = 8
        memory = 15.GB
        container = "${params.DOCKER_GENERATEMETRICS}" 

   }
   
   withName: merge_log_benchmark_files
    {
        //errorStrategy='retry'
        //maxRetries=1
		executor='awsbatch'
        queue = 'gatorSequence'
        cpus = 8
        memory = 15.GB
        container = "${params.DOCKER_GENERATEMETRICS}" 

   }
}

