
manifest {
    name = "gatorseq_hpc_code"
    mainScript = "gatorseq_nextflow.nf"
    version = "4.0"
}


env {
    #NXF_TEMP='/home/path-svc-mol/GatorSeq_Share/GatorSeq_Analysis/ProdEnv/TEMP_DIR'
    #NXF_ASSETS='/home/path-svc-mol/GatorSeq_Share/GatorSeq_Analysis/ProdEnv/TEMP_DIR'
   /NXF_OPTS=" -Xms2G -Xmx18G "
   //NXF_OPTS='-Xms512M -Xmx6G'
   //NXF_DEBUG=3
   //NXF_JAVA_HOME='/ufrc/chamala/share/GatorSeq_Share/GatorSeq_Analysis/TEST_JAVA/jdk-11.0.1/bin'
   //JAVA_CMD='/ufrc/chamala/share/GatorSeq_Share/GatorSeq_Analysis/TEST_JAVA/jdk-11.0.1/bin/java'
}

//executor {
 //   submitRateLimit = '1 min'
  //} 

profiles {

  standard {
    includeConfig 'common.config'
    includeConfig 'slurm.config'
  }

  uf_slurm {
    includeConfig 'common.config'
    includeConfig 'slurm.config'
  }

  aws_batch {
    includeConfig 'awsbatch_common.config'
    includeConfig 'awsbatch.config'
  }

  //cluster {
  //}

}
