params 
	{
	human_ref_bwa= "/ufrc/chamala/share/ucsc_hg19/ucsc_hg19_without_halotypes_CRLF2_100bp_padded_chrY_masked_bwa_index/ucsc_hg19_without_halotypes_CRLF2_100bp_padded_chrY_masked_bwa"
	human_ref_fasta="/ufrc/chamala/share/ucsc_hg19/ucsc_hg19_without_halotypes_CRLF2_100bp_padded_chrY_masked.fasta"
	
	pair1 = "/ufrc/chamala/snmishra/TS-00-00-24020/TS*/*_R1_*.fastq.gz"
	
	pair2 = "/ufrc/chamala/snmishra/TS-00-00-24020/TS*/*_R2_*.fastq.gz"
	
	rm_temp_files= 1
	
	AF_THR= 0.01
	
	bed_split_len= 20
	lane_align_file
	SAMPLE_DIR="/ufrc/chamala/snmishra/sampledir/"
	temp_dir="/ufrc/chamala/snmishra/tempdir"
	cpus
		{
		bwa_map_sort = 4
		}

	}


process {
 $bwa_map_sort 
    {
	executor='slurm'
	 module = 'bwa/0.7.17:sambamba/0.6.6'   
       memory='8 GB'
       clusterOptions = "--account=chamala --qos=chamala --time=120:15:00 --mem-per-cpu=3gb --cpus-per-task=8  --ntasks=1 --nodes=1"
 
   }
}

