
singularity {
    enabled = true
    cacheDir = "${params.Containers_Cache_Dir}"
}

process {
 withName: bwa_map_sort 
    {
        errorStrategy='retry'
        maxRetries=1
		executor='slurm'
		clusterOptions = "--no-requeue --account=ufmolpath --qos=ufmolpath --time=120:15:00 --mem-per-cpu=3gb --cpus-per-task=8  --ntasks=1 --nodes=1"
        container = "${params.DOCKER_BWA_SAMBAMBA}" 
        containerOptions = '--bind /etc/localtime,/etc/hosts,/orange,/blue,/bio,/scratch/local'
   }

 withName: merging
    {
        errorStrategy='retry'
        maxRetries=1
        executor='slurm'
        clusterOptions = "--no-requeue --account=ufmolpath --qos=ufmolpath --time=120:15:00 --mem-per-cpu=3gb --cpus-per-task=8  --ntasks=1 --nodes=1"
        container = "${params.DOCKER_BWA_SAMBAMBA}" 
        containerOptions = '--bind /etc/localtime,/etc/hosts,/orange,/blue,/bio,/scratch/local'

   }

 withName: vardict
    {
        errorStrategy='retry'
        maxRetries=0
        executor='slurm'
        clusterOptions = "--no-requeue --account=ufmolpath --qos=ufmolpath --time=120:15:00 --mem-per-cpu=3gb --cpus-per-task=8  --ntasks=1 --nodes=1"
        container = "${params.DOCKER_VARDICTJAVA}" 
        containerOptions = '--bind /etc/localtime,/etc/hosts,/orange,/blue,/bio,/scratch/local'

   }

 withName: vepAnnot
    {
        errorStrategy='retry'
        maxRetries=1
        executor='slurm'
        clusterOptions = "--no-requeue --account=ufmolpath --qos=ufmolpath --time=120:15:00 --mem-per-cpu=3gb --cpus-per-task=1  --ntasks=1 --nodes=1"
        container = 'docker://harsh0280/vep:1.0'
        containerOptions = '--bind /etc/localtime,/etc/hosts,/orange,/blue,/bio,/scratch/local'

   }

 withName: iCallSV
    {
        errorStrategy='retry'
        maxRetries=1
        executor='slurm'
        clusterOptions = "--no-requeue --account=ufmolpath --qos=ufmolpath --time=120:15:00 --mem-per-cpu=3gb --cpus-per-task=8  --ntasks=1 --nodes=1"
        container = "${params.DOCKER_ICALLSV}" 
        containerOptions = '--bind /etc/localtime,/etc/hosts,/orange,/blue,/bio,/scratch/local'

   }
   
 withName: mSINGS 
    {
        errorStrategy='retry'
        maxRetries=1
        executor='slurm'
        clusterOptions = "--no-requeue --account=ufmolpath --qos=ufmolpath --time=120:15:00 --mem-per-cpu=3gb --cpus-per-task=8  --ntasks=1 --nodes=1"
        container = "${params.DOCKER_MSINGS}"
        containerOptions = '--bind /etc/localtime,/etc/hosts,/orange,/blue,/bio,/scratch/local'

   }
   
  withName: generate_metrics_file
    {
        errorStrategy='retry'
        maxRetries=1
        executor='slurm'
        clusterOptions = "--no-requeue --account=ufmolpath --qos=ufmolpath --time=120:15:00 --mem-per-cpu=3gb --cpus-per-task=8  --ntasks=1 --nodes=1"
        container = "${params.DOCKER_GENERATEMETRICS}" 
        containerOptions = '--bind /etc/localtime,/etc/hosts,/orange,/blue,/bio,/scratch/local'

   }
   
   withName: merge_log_benchmark_files
    {
        errorStrategy='retry'
        maxRetries=1
        executor='slurm'
        clusterOptions = "--no-requeue --account=ufmolpath --qos=ufmolpath --time=120:15:00 --mem-per-cpu=3gb --cpus-per-task=8  --ntasks=1 --nodes=1"
        container = "${params.DOCKER_GENERATEMETRICS}" 
        containerOptions = '--bind /etc/localtime,/etc/hosts,/orange,/blue,/bio,/scratch/local'

   }
}

